.botones-principales{
    width: 49%;
    height: 55px;
    font-family: Indie Flower, sans-serif;
    font-size: 25px;
    background-color: #000;
    color:#fff;
    border-radius: 12px;
    border: 2px solid #1b1b32;
    margin-top: 1%;
    text-align: center;
    cursor: pointer;
  }
  
.botones-principales:hover{
    background-color: #1b1b50;
  }

.botones-principales:focus{
  background-color: #1b1b50;
}